*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: white;
}

@font-face {
  font-family: "Inter-Italic-VariableFont_opsz,wght.ttf";
  src: url(./assets/inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format("ttf");
}